
<app-header></app-header>


<div class="card">
  <img src="../../../assets/profile.png" alt="img not found" style="width:100%">
  <h1>Nisarg Dave</h1>
  <p class="price">Systems Engineer (Full Stack Developer)</p>
  <p class="price">1 Year 9 Months</p>
  <p class="price">nisargdave43@gmail.com</p>
  <p class="price">9428977892</p>
  <p>To work in a creative and intellectually stimulating environment that enhances my technical skills and
provides me opportunities for their applications towards the achievement of organizational goals</p>
  <p><button (click)='redirectToLinkedInPage()'>Linkedin Profile</button></p>
</div>